<table>
  <thead>
  <tr>
    <th>Source Account</th>
    <th>Destination Account</th>
    <th>Amount</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.source_account_id %></td>
        <td><%= transaction.dest_account_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.status %></td>
      </tr>
  <% end %>
  </tbody>
</table>
